<footer class="bg-primary p-4 mt-5">
  <div class="container">
      <div class="d-flex justify-content-center align-items-center text-white small">
          Design & Developed By &nbsp;<a href="#" class="text-white">DwellingDeal Inc.</a>
      </div>
  </div>
</footer>