<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DwellingDeal</title>
    <link rel="stylesheet" href="css/home.css">
</head>

<body>

    <h1>Welcome to DwellingDeal</h1>

    <div class="container">
        <h2>Hello, {{name}} </h2>
        <p>Explore our platform to find the best deals for your dream home.</p>
    </div>

</body>

</html>