<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DwellingDeal</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <h1>Login Form</h1>

    <form action="/login" method="POST" onsubmit="return validateForm()">
    
    <input type="text" name="username" placeholder="Username" autocomplete="off" required>
    <br>
    <input type="password" name="password" placeholder="Password" autocomplete="off" required>
    <br>
    <input type="text" name="role" placeholder="Enter Your Role" autocomplete="off" required>
    <br>
    <input type="submit" class="sub">

    <h3>Don't have an account?</h3>
    <a href="/signup">Go to signup page</a>

    </form>

<script>
    function validateForm() {
        var username = document.forms["myForm"]["username"].value;
        var password = document.forms["myForm"]["password"].value;

        if (username == "" || password == "") {
            alert("Username and password must be filled out");
            return false;
        }
        return true;
    }
</script>


</body>
</html>