<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DwellingDeal</title>
        <link rel="stylesheet" href="css/signup.css">

</head>
<body>
    <h1>User Registration Form</h1>

    <form action="/signup" method="POST">
    
    <input type="text" name="username" placeholder="Username" autocomplete="off" required>
    <br>
    <input placeholder="Password" name="password" type="password" autocomplete="off" required pattern=".{6,}"
        title="Password must be at least 6 characters long">
    <br>
    <input type="text" name="roles" placeholder="Enter Your Role" autocomplete="off">
    <br>
    <input type="submit" class="sub">




    </form>
    <a href="/">Go to login page</a>
    
</body>
</html>