<% layout('layout') -%>

<div class="row">
  <div class="col-lg-6 col-md-offset-3">

    <% if (errors.length > 0) { %>
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= errors %>
      </div>
    <% } %>

    <form method="post">

      <h1>Signup</h1>

      <!-- Personal Information -->
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>

      <!-- Additional Information -->
      <div class="form-group">
        <label for="phoneNumber">Phone Number:</label>
        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber">
      </div>

      <!-- Terms and Conditions -->
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="termsAndConditions" name="termsAndConditions">
        <label class="form-check-label" for="termsAndConditions">I agree to the Terms and Conditions</label>
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
      <a href="/login">Already have an account?</a>

    </form>
  </div>
</div>
