<% layout('layout') -%>

<div class="jumbotron" id="navbar-gap">
  <div class="container">
    <h1> Secure, Fast, Reliable Payment!</h1>
    <p>Your trusted partner for online transactions.</p>
    <p><a class="btn btn-primary btn-lg" href="/paymentSignUp" role="button">Register Now &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h3>Easy Payments</h3>
      <p>Register to make seamless payments.</p>
    </div>
    <div class="col-md-4">
      <h3>Secure transactions</h3>
      <p>Your security is our priority. Make transactions with peace of mind.</p>

   </div>
    <div class="col-md-4">
      <h3>Quick Checkout</h3>
      <p>Simplify your online shopping with our fast checkout option :)</p>
    </div>
  </div>
