<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DwellingDeal</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <%- include('../partials/navbar') %>

   
    <!-- START - Products section -->
    <section class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="w-100" src="https://placehold.co/600x600" alt="Product">
                </div>
                <div class="col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <h4>Product Title</h4>
                        </div>
                        <div class="card-body">
                            <h6 class="text-secondary mb-3">Category name</h6>
                            <h3 class="text-success mb-3">100.00 AUD</h3>

                            <label for="txtQty" class="form-label fw-semibold">QTY</label>
                            <form class="row g-3 mb-5">
                                <div class="col-md-6">
                                    <input value="1" type="number" class="form-control fw-semibold" id="txtQty">
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary fw-semibold w-100">Add to Cart</button>
                                </div>
                            </form>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quo illum velit libero enim
                                vero aliquam, dolorem voluptas iusto nulla cumque magni corrupti, totam, culpa tempora
                                quod modi laudantium debitis. Dicta, earum. Laboriosam maxime a est expedita officiis,
                                quisquam asperiores quia sapiente quam atque? Eius aut dignissimos deserunt ex expedita
                                nihil ab vitae magni dolorum quasi, accusamus distinctio exercitationem explicabo
                                sapiente necessitatibus vel hic voluptates voluptatibus neque officia eligendi
                                molestiae? Alias voluptas, eum praesentium maxime velit voluptatibus voluptates vitae
                                modi ea, quas quam nemo necessitatibus veritatis nam totam doloremque reprehenderit
                                officiis. Dolorem, perferendis pariatur quibusdam laborum repellat quae tenetur
                                officiis!</p>

                        </div>
                    </div>
                </div>


            </div>

    </section>
    <!-- END - Products section -->


    <!-- START - Footer -->
    <footer class="bg-primary p-4 mt-5">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center text-white small">
                Design & Developed By &nbsp;<a href="#" class="text-white">AAA</a>
            </div>
        </div>
    </footer>
    <!-- END - Footer -->


    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

</body>

</html>